.header {
  width: 100%;
  height: 100px;
  background-color: #801515;
  display: flex;
  align-content: space-between;
  align-items: center;
  .title {
    margin: {
      left: 1em;
    }
    font: {
      size: 3em;
      weight: 500;
      style: italic;
      family:'Pattaya', sans-serif;
    }
    color: #fff;
  }
}
