.table {
  ul {
    li {
      list-style: none;
      width: 15em;
      text-align: justify;
      display: flex;
      justify-content: space-between;
    }
  }

  .input {
    height: 2.3em;
    padding:.3rem;
    border: {
      radius:.2rem;
      color:#ccc;
      width: 1px;
      style: solid;
    }
    &:focus{
      outline: {
        offset: 0;
        style:none;
      };
    }
  }

  button {
    &.delete {
      background: {
        color: transparent;
      }
      border: {
        width: 0;
      }
      font: {
        weight: 900;
      }
      color: #f00;
      cursor: pointer;
    }

    &.add {
      width: 10em;
      height: 3em;
      background: {
        color: #291;
      }
      border: {
        width: 0;
      }
      cursor: pointer;
      border: {
        radius: 0.5em;
      }
      color: #fff;
      margin: 1em;
    }
  }
}
